[Unit]
Description=Code Server Service

[Service]
ExecStart=/usr/local/bin/code-server --disable-telemetry --accept-server-license-terms serve-local --host 0.0.0.0 --without-connection-token
User=anthony
Restart=always
LimitNOFILE=20480

[Install]
WantedBy=multi-user.target
