[Unit]
Description=Code Server Service

[Service]
ExecStart=/usr/local/bin/code-server-standalone --disable-telemetry --accept-server-license-terms --server-data-dir <optional-parameter> serve-local --host 0.0.0.0 --without-connection-token
User=user
Restart=always
LimitNOFILE=20480

[Install]
WantedBy=multi-user.target
